<header data-gnl="1 1p">
  <div data-gnl="kaplama göbekte">
    <a href="https://djangoogreniyorum.github.io" style="background:url('https://www.djangoproject.com/s/img/logo-django.42234b631760.svg') center center no-repeat; width:104px; height:36px; margin:10px; margin-left:0;"> </a>
    <span class="meta">{Django Öğreniyorum} <br> Günümüz kusursuzcuları için ağ çatısı</span>
    <div data-menü="tip1" data-gnl="1 1p" data-kçk="0 göbekte-ol sağda-ol">
      <input id="menü-1" type="checkbox" name="" value="">
      <label for="menü-1" data-gnl="1 1p ortada">MENÜLER</label>
      <ul data-gnl="1 1p">
        <li><a href="/belgeler/basla/onbakis">Ön Bakış</a></li>
        <li><a href="/indir">İndirme</a></li>
        <li><a href="/belgeler">Belgeler</a></li>
        <li><a href="#">Yenilikler</a></li>
        <li><a href="https://www.facebook.com/djangoogreniyorum/">Topluluk</a></li>
        <li><a href="/diger">Diğer</a></li>
      </ul>
    </div>
  </div>
</header>
