---
layout: general
title: Önbakış - Django Öğreniyorum
---
<div class="headertext" data-gnl="1 1p">
  <div data-gnl="kaplama göbekte">
    Django deneyimli ağ geliştiricilerinin gereksinimlerini karşılarken, hızlı akan haber bültenlerine karşılık vermek için tasarlandı.
  </div>
</div>
<div data-gnl="kaplama">
  <div>
    <h1>Django İle Başlangıç Atalım</h1>
    <p>
      Django'ya bağlılık durumunuza göre eğitimlere veya belgelere dalabilirsiniz.<br>
      Django hakkıdna daha fazla şey öğrenmek ister misin? Django'nun projen için ne kadar doğru olduğunu önbakışı okuyarak gör.<br>
      <a href="/belgeler/basla/onbakis.html">Django Önbakış</a>
    </p>
  </div>
  <div>
    <h1>Django Kur</h1>
    <p>
      Django kullanmadan önce kurulum yapmalısınız. Tam kurulum rehberimiz tüm olasılıkları kapsar; bu rehber size giriş süreci boyunca ilerlergen işinize yarayacak basit ve sade bir kurulum sağlayacaktır.
      <a href="/belgeler/2.0/egitim/kurulum.html">Djanga Kurulum Rehberi</a>
    </p>
  </div>
  <div>
    <h1>İlk Django Uygulamanı Yaz</h1>
    <p>
      Django kurulumu tamam mı? Güzel... Şimdi <a href="#">bu eğitimi dene.</a> Bunun vasıtasıyla temel bir anket uygulaması oluşturacaksın. İki bölümün var.
      <ul>
        <li>Herkesin anketlere katılmasını sağlayan genel bir site.</li>
        <li>Anketleri eklemenize, silmenize, değiştirmenize olanak sağlayan yönetim arabirimi.</li>
      </ul>
      <a href="/belgeler/2.0/egitim/adim1.html">Eğitime Geç</a>
    </p>
  </div>
  <div>
    <h1>Kişisel Yeteneklerini Güçlendir</h1>
    <p>
      <a href="/belgeler/index.html">Django belgeleri</a> Django hakkında ihtiyaç duyacağın her şeyi kapsar. (ve birazını daha)<br>
      <a href="/belgeler/index.html">Belgeleri Oku</a>
    </p>
  </div>
  <div>
    <h1>Bize Destek Ver</h1>
    <p>
      Bize yardımda bulunabilirsin. Devam eden türkçeleştirme çalışmalarımıza katkıda bulunmak için github üzerinde oluşturduğumuz örgütlenmeye başvurun.
      <br>
      <a href="https://github.com/djangoogreniyorum/">Django Öğreniyorum : Github</a>
    </p>
  </div>
  <div>
    <h1>Django Önbilgi</h1>
    <h2>İlişkili-Nesne İmgeleyici (Object-relational mapper)</h2>
    <p>Veri kalıplarınızı baştan sona Python'da çözün. Ücretsiz olarak zengin, dinamik bir veritabanı erişimi API'si elde edersiniz, ancak gerekir ise SQL yazabilirsiniz.</p>
    <a href="/belgeler/2.0/basliklar/db/kaliplar.html">Devamını Oku</a>
    <pre data-gnl="1 1p"><code class="language-python">
class Band(models.Model):
    """Bir rock bandının kalıbı."""
    name = models.CharField(max_length=200)
    can_rock = models.BooleanField(default=True)


class Member(models.Model):
    """Bir rock bandı üyesinin kalıbı."""
    name = models.CharField("Üyenin adı", max_length=200)
    instrument = models.CharField(choices=(
            ('g', "Gitar"),
            ('b', "Bas"),
            ('d', "Davullar"),
        ),
        max_length=1
    )
    band = models.ForeignKey("Band")
  </code>
  </pre>
  </div>
  <div>
    <h2>URLler Ve Görünümler (URLs and views)</h2>
    <p>Temiz, şık bir URL şeması, yüksek kalitede bir ağ uygulamasında önemli bir ayrıntıdır. Django güzel bir URL tasarımını destekler ve PHP veya ASP gibi URL'lerde herhangi bir hata yapmaz.</p>
    <p>Bir uygulama için URLlerin tasarımlarına URLconf adlı bir Python eklemi oluşturursunuz. İçindekiler tablosu gibi uygulamanız için URL kalıpları ve görünümleri arasında basit bir imgeleme içerir.</p>
    <a href="/belgeler/2.0/basliklar/http/urls.html">Devamını Oku</a>
    <pre data-gnl="1 1p"><code class="language-python">
from django.conf.urls import url

from . import views

urlpatterns = [
    url(r'^bands/$', views.band_listing, name='band-list'),
    url(r'^bands/(\d+)/$', views.band_detail, name='band-detail'),
    url(r'^bands/search/$', views.band_search, name='band-search'),
]
    </code></pre>
    <pre data-gnl="1 1p"><code class="language-python">
from django.shortcuts import render

def band_listing(request):
    """A view of all bands."""
    bands = models.Band.objects.all()
    return render(request, 'bands/band_listing.html', {'bands': bands})
    </code></pre>
  </div>
  <div>
    <h2>Temalar (Templates)</h2>
    <p>Django'nun şablon dili güç ile kolaylık arasında denge kuracak şekilde tasarlandı. Tasarımcılar ve ön uç geliştiricileri gibi HTML işlerinde rahat ve öğrenimi kolay hissetmek için tasarlandı. Fakat esnek ve son derece genişletilebilir, böylece geliştiricilerin şablon dilini gerektiği gibi genişletmeleri sağlanır.</p>
    <a href="/belgeler/2.0/basliklar/temalar.html">Devamını Oku</a>
    <pre data-gnl="1 1p"><code class="language-html">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Band Listing&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;All Bands&lt;/h1&gt;
    &lt;ul&gt;
    {% for band in bands %}
      &lt;li&gt;
        &lt;h2&gt;&lt;a href=&quot;{{ band.get_absolute_url }}&quot;&gt;{{ band.name }}&lt;/a&gt;&lt;/h2&gt;
        {% if band.can_rock %}&lt;p&gt;This band can rock!&lt;/p&gt;{% endif %}
      &lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
    </code></pre>
  </div>
  <div>
    <h2>Formlar (Forms)</h2>
    <p>Django, formları HTML olarak işleyen, kullanıcı tarafından gönderilen verileri doğrulayan ve bu verileri yerel Python türlerine dönüştüren güçlü bir form kütüphanesi sunar. Django ayrıca mevcut kalıplarınızdan (models) formlar üretmenin ve bu formları veri oluşturmak ve güncelleştirmek için kullanmanın bir yolunu sağlar.</p>
    <a href="/belgeler/2.0/basliklar/formlar.html">Devamını Oku</a>
    <pre data-gnl="1 1p"><code class="language-python">
from django import forms

class BandContactForm(forms.Form):
    subject = forms.CharField(max_length=100)
    message = forms.CharField()
    sender = forms.EmailField()
    cc_myself = forms.BooleanField(required=False)
    </code></pre>
  </div>
  <div>
    <h2>Kimlik Doğrulama (Authentication)</h2>
    <p>Django tam özellikli ve güvenli doğrulama örgüsüyle gelir. Kullanıcı hesaplarını, grupları, izinleri ve kurabiye tabanlı kullanıcı oturumlarını yönetir. Bu, kullanıcıların hesap oluşturmasına ve güvenli bir şekilde giriş/çıkış yapmasına izin veren siteleri kolayca oluşturmanızı sağlar.</p>
    <a href="/belgeler/2.0/basliklar/kimlik.html">Devamını Oku</a>
    <pre data-gnl="1 1p"><code class="language-python">
from django.contrib.auth.decorators import login_required
from django.shortcuts import render

@login_required
def my_protected_view(request):
    """A view that can only be accessed by logged-in users"""
    return render(request, 'protected.html', {'current_user': request.user})
    </code></pre>
  </div>
  <div>
    <h2>Yönetici (Admin)</h2>
    <p>Django'nun en güçlü kısımlarından biri, doğal yönetici arayüzüdür. İçerik üreticilerinin sitenizdeki içeriği yönetmeye hemen başlayabilecek güçlü ve üretime hazır bir arabirim sağlamak için kalıplarınızdaki meta verileri okur. Kurulumu kolaydır ve özelleştirme için pek çok takı bulunur.</p>
    <a href="/belgeler/2.0/ref/contrib/yonetici.html">Devamını Oku</a>
    <pre data-gnl="1 1p"><code class="language-python">
from django.contrib import admin
from bands.models import Band, Member

class MemberAdmin(admin.ModelAdmin):
    """Customize the look of the auto-generated admin for the Member model"""
    list_display = ('name', 'instrument')
    list_filter = ('band',)

admin.site.register(Band)  # Use the default options
admin.site.register(Member, MemberAdmin)  # Use the customized options
    </code></pre>
  </div>
  <div>
    <h2>Uluslararasılaşma (Internationalization)</h2>
    <p>Django, metni farklı dillere çevirmenin yanı sıra tarih, saat, sayı ve saat dilimlerinin yerel ayara özel biçimlendirilmesi için tam destek sunar. Geliştiricilerin ve şablon yazarlarının, uygulamanın hangi bölümlerinin yerel diller ve kültürler için tercüme edilmesi veya biçimlendirilmesi gerektiğini belirtmesine ve bu kancaları belirli kullanıcılara yönetlik ağ uygulamalarını kendi tercihlerine göre yerelleştirmesi için kullanıyor.</p>
    <a href="/belgeler/2.0/basliklar/i18n.html">Devamını Oku</a>
    <pre data-gnl="1 1p"><code class="language-python">
from django.shortcuts import render
from django.utils.translation import ugettext

def homepage(request):
    """
    Shows the homepage with a welcome message that is translated in the
    user's language.
    """
    message = ugettext('Welcome to our site!')
    return render(request, 'homepage.html', {'message': message})
    </code></pre>
    <pre data-gnl="1 1p"><code class="language-html">
{% load i18n %}
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;{% trans 'Homepage - Hall of Fame' %}&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    {# Translated in the view: #}
    &lt;h1&gt;{{ message }}&lt;/h1&gt;
    &lt;p&gt;
      {% blocktrans count member_count=bands.count %}
      Here is the only band in the hall of fame:
      {% plural %}
      Here are all the {{ member_count }} bands in the hall of fame:
      {% endblocktrans %}
    &lt;/p&gt;
    &lt;ul&gt;
    {% for band in bands %}
      &lt;li&gt;
        &lt;h2&gt;&lt;a href=&quot;{{ band.get_absolute_url }}&quot;&gt;{{ band.name }}&lt;/a&gt;&lt;/h2&gt;
        {% if band.can_rock %}&lt;p&gt;{% trans 'This band can rock!' %}&lt;/p&gt;{% endif %}
      &lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;
  &lt;/body&gt;
&lt;/html&gt;
    </code></pre>
  </div>
  <div>
    <h2>Güvenlik (Security)</h2>
    <p>Django birçok koruma yöntemi sağlar:</p>
    <ul>
      <li>Clickjacking</li>
      <li>Çapraz site kodlama (Cross-site scripting)</li>
      <li>Çapraz site istek sahteciliği (Cross Site Request Forgery (CSRF))</li>
      <li>SQL yerleştirme (SQL injection)</li>
      <li>Uzaktan kod yürütülmesi (Remote code execution)</li>
    </ul>
    <a href="/belgeler/2.0/belgeler/guvenlik.html">Devamını Oku</a>
  </div>
</div>
